.clock {
  height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dot {
  height: 10px;
  width: 10px;
  background: red;
  border-radius: 100%;
  position: relative;
  z-index: var(--deg);
  --deg: 0;
}
.dot::after {
  content: '';
  height: 70px;
  width: 2px;
  background: linear-gradient(45deg, transparent 50%, red 50%);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(303deg);
  left: 50%;
}
.dot::before {
  content: '';
  height: 50px;
  width: 2px;
  background: linear-gradient(45deg, transparent 50%, red 50%);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  left: 50%;
  z-index: var(--deg);
}
.pos-absolute {
  position: absolute;
}
.t12 {
top: 0;
left: 50%;
transform: translateX(-50%);
}
.t6 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  }

  .t3 {
    top:  50%;
    right: 0;
    transform: translateY(-50%);
    }

    .t9 {
      top:  50%;
      left: 0;
      transform:translateY(-50%);
      }
      .t1 {
        right: 40px;
    top: 20px;
      }
      .t2 {
        right: 11px;
    top: 53px;
      }

      .t4 {
        right: 11px;
    bottom: 53px;
      }
      .t5 {
        right: 40px;
    bottom: 20px;
      }

      .t7 {
        left: 40px;
        bottom: 20px;
      }
      .t8 {
        left: 11px;
        bottom: 53px;
      }

      .t10 {
        left: 11px;
    top: 53px;
      }
      .t11 {
        left: 40px;
    top: 20px;
      }